<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee card</title>
</head>
<body>

<form th:action="@{saveEmployee}" th:method="POST" th:object="${employee}">
    <h1> Enter Your information</h1>
    <br>

    Your name: <input type="text" name="Name" placeholder="Name"/>
    <br>
    Your surname: <input type="text" name="Surname" placeholder="Surname"/>
    <br>
    Your department: <input type="text" name="Department" placeholder="Department"/>
    <br>
    Your salary: <input type="text" name="Salary" placeholder="Salary"/>
    <br>

    <input type="submit" class="Buttons" value="Зарегистрироваться"/>
</form>

</body>

